<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  Has made <%=pluralize( @user.ratings.count,'rating' ) %>.
  Average rating is <%= @user.average_rating %>
</p>


<!-- If user has beer clubs, show the following list: -->
<p>
  <% if @user.beer_clubs.exists? %>
      Member of
      <% @user.beer_clubs.each do |beer_club| %>
          <%= link_to beer_club, beer_club %>
      <% end %>
  <% end %>
</p>

<p>
  <strong>ratings</strong>
    <table>
      <tbody>
      <ul>
        <% @user.ratings.each do |rating| %>
            <li>
              <%= rating %>
              <% if @user == current_user %>
                  <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </li>
        <% end %>
      </ul>
      </tbody>

    </table>
</p>



<%= link_to 'Back', users_path %>
<% if @user == current_user %> |
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>